<div class="page-header">
  <%= link_to value_holders_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <% end %>
  <%= link_to edit_value_holder_path(@value_holder), class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-pencil"></span>
    Edit
  <% end %>
  <h1>Show value_holder</h1>
</div>

<dl class="dl-horizontal">
  <dt>Rawvalue:</dt>
  <dd><%= @value_holder.rawValue %></dd>

  <dt>Timestamp:</dt>
  <dd><%= @value_holder.timeStamp %></dd>

</dl>
